{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block css %}
<link href="../static/css/toggles.css" rel="stylesheet" type="text/css">
<link href="../static/css/toggles-light.css" rel="stylesheet" type="text/css">
<link href="../static/css/morris.css" rel="stylesheet" type="text/css">
<link href="../static/css/jquery.toast.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<!-- 这里放首页特有的内容 -->
{% endblock %}

{% block js %}
<script src="static/js/toggles.min.js"></script>
<script src="static/js/toggle-data.js"></script>
<script src="static/js/raphael.min.js"></script>
<script src="static/js/morris.min.js"></script>
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.counterup.min.js"></script>
<script src="static/js/echarts-en.min.js"></script>
<script src="static/js/jquery.sparkline.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<script src="static/js/jquery.toast.min.js"></script>
<script src="static/js/dashboard-data.js"></script>
{% endblock %}